<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhFJCIYXRRcQ0LytmS1Ex1LP62pxJ4Q8w</string>
	<key>GCM_SENDER_ID</key>
	<string>778226382275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otptest.otptest</string>
	<key>PROJECT_ID</key>
	<string>otpphonevef</string>
	<key>STORAGE_BUCKET</key>
	<string>otpphonevef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778226382275:ios:78c7f603c387efcdc73976</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778226382275-h8rtqe2hbv3rjol4dcnqvvf7dc73976</string>
</dict>
</plist>